/* Add CSS here */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
}
svg {
  width: 1.25rem;
}
.card {
  display: flex;
  box-shadow: 0 5px 20px -5px #bbb;
  padding: 2rem;
  gap: 1rem;
}
.card .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container .star-rating {
  color: #0b1a56;
}
.image-container .rating {
  font-size: 0.625rem;
  color: #fff;
  background-color: #32a655;
  padding: 0rem 0.25rem;
  border-radius: 0.25rem;
}
.card img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
}
.details {
  display: flex;
  flex-direction: column;
  color: #172973;
}
.details h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

.details .contact-container {
  display: flex;
  justify-content: space-between;
}
.contact-container a {
  color: #172973;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.825rem;
  font-weight: 600;
  padding: 0.5rem 0rem 1.25rem;
}
.contact-container a svg {
  height: 1.25rem;
  fill: #172973;
  margin-top: 0.25rem;
}
.contact-container .socials a:nth-of-type(1) svg {
  fill: #2473c3;
}
.contact-container .socials a:nth-of-type(2) svg {
  fill: #4888e7;
}
.contact-container .socials a:nth-of-type(3) svg {
  fill: #f3664d;
}

.details {
  padding: 2rem 0;
}
.details .statistics {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}
.statistics div {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 600;
}
.statistics div span {
  font-size: 0.825rem;
}
.details p {
  color: #a1a1b7;
  font-size: 0.75rem;
}
.details > p:nth-of-type(2) {
  padding: 1.25rem 0;
  color: #172973;
  max-width: 37ch;
  font-size: 0.75rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.buttons button {
  font-size: 0.825rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}
.buttons button:nth-of-type(1) {
  background-color: #fb9120;
  color: #fff;
}

.buttons button:nth-of-type(2) {
  background-color: #fff;
  color: #a19fad;
}
