*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");

:root {
  --main-bg-color: #26282a;
  font-size: 12px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-family: "Lato";
  margin: 0rem 5rem 0 0rem;
}

.pricing-card {
  margin-right: calc(-15rem + 20vw);
  --gradient: linear-gradient(90deg, #e7679b, #ea625b);
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="%232e3032"></rect><path d="M0 314L13.7 313.2C27.3 312.3 54.7 310.7 82 304.5C109.3 298.3 136.7 287.7 163.8 294.8C191 302 218 327 245.2 342.7C272.3 358.3 299.7 364.7 327 356.7C354.3 348.7 381.7 326.3 409 317.2C436.3 308 463.7 312 491 301.7C518.3 291.3 545.7 266.7 573 262.3C600.3 258 627.7 274 654.8 274.5C682 275 709 260 736.2 272.8C763.3 285.7 790.7 326.3 818 329.3C845.3 332.3 872.7 297.7 886.3 280.3L900 263L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z" fill="%2327292b"></path><path d="M0 420L13.7 421.8C27.3 423.7 54.7 427.3 82 427.3C109.3 427.3 136.7 423.7 163.8 420C191 416.3 218 412.7 245.2 411.8C272.3 411 299.7 413 327 409C354.3 405 381.7 395 409 381.5C436.3 368 463.7 351 491 352.2C518.3 353.3 545.7 372.7 573 377.3C600.3 382 627.7 372 654.8 368.3C682 364.7 709 367.3 736.2 377C763.3 386.7 790.7 403.3 818 408.8C845.3 414.3 872.7 408.7 886.3 405.8L900 403L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z" fill="%23222425"></path><path d="M0 463L13.7 468.3C27.3 473.7 54.7 484.3 82 481.5C109.3 478.7 136.7 462.3 163.8 451.2C191 440 218 434 245.2 442.5C272.3 451 299.7 474 327 486C354.3 498 381.7 499 409 487.7C436.3 476.3 463.7 452.7 491 443.3C518.3 434 545.7 439 573 451.3C600.3 463.7 627.7 483.3 654.8 490.5C682 497.7 709 492.3 736.2 490.5C763.3 488.7 790.7 490.3 818 489.8C845.3 489.3 872.7 486.7 886.3 485.3L900 484L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z" fill="%231d1f20"></path></svg>');
  background-size: cover;
  padding: 2rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 0px 30px 10px #000000b8;
  z-index: 1;
}
.pricing-card:hover {
  z-index: 2;
  transition: all 200ms ease-in-out;
  transform: scale(1.1);
  --gradient: linear-gradient(90deg, #ba8db4, #62cbf1);
}
.pricing-card .gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: flex-start;
  margin-bottom: 8cap;
}
.pricing-card h1 {
  font-weight: 800;
  font-size: 3rem;
}
.pricing-card h1 > span {
  font-size: 0.875rem;
}
.pricing-card .gradient p {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.pricing-card ul li {
  list-style: none;
  font-size: 0.875rem;
  padding: 0.375rem;
  color: #b0b2b4;
}
.pricing-card button {
  margin-top: 2rem;
  padding: 1rem 4.5rem;
  border-radius: 1rem;
  height: 2rem;
  background: linear-gradient(#1d1f20, #1d1f20) padding-box,
    var(--gradient) border-box;
  border-radius: 1rem;
  border: 0.125rem solid transparent;
  position: relative;
  z-index: 2;
}
.pricing-card button::after {
  content: "CHOOSE PLAN";
  position: absolute;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.75rem;
  background: linear-gradient(90deg, #ba8db4, #62cbf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #62cbf1;
}
