*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #f5f8ff;
}

.inbox {
  position: relative;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  color: #010c3f;
  background-color: #fff;
  box-shadow: 0 20px 50px -20px #4fddd2;
  padding: 3rem 3rem;
  gap: 1rem;
}
.backdrop {
  position: absolute;
  top: -3rem;
  left: -2.5rem;
  width: 100%;
  height: 90%;
  background: linear-gradient(#51dcaf, #4fddd2);
  z-index: -1;
  border-radius: 1.5rem;
}
.inbox h2 {
  text-align: start;
  font-size: 1.125rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.inbox button {
  font-size: 0.75rem;
  padding: 1rem;
  border: none;
  color: #ddd;
  letter-spacing: 0.5px;
  background-color: #1e2854;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}
.inbox button:hover {
  color: #fff;
  background-color: #344074;
  box-shadow: 0 0px 10px 0px #070a19;
  outline: 2px solid currentColor;
}
.inbox svg {
  height: 1.25rem;
  fill: currentColor;
}
.message {
  display: grid;
  grid-template-columns: 3.5rem 8rem 4rem;
  grid-template-rows: 1.75rem 1.75rem;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.message:hover {
  background-color: #d6e0f9c0;
}
.message .img-container {
  grid-row: 1/-1;
  grid-column: 1/2;
  position: relative;
  --dot-color: #53dba7;
}
.message img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.message .img-container::after {
  position: absolute;
  content: "";
  display: block;
  width: 0.925rem;
  height: 0.925rem;
  border-radius: 50%;
  top: 0rem;
  right: 0rem;
  background-color: var(--dot-color);
  border: 3px solid #fff;
}
.messages-container > div:nth-child(2) .img-container {
  --dot-color: #db794e;
}

.messages-container > div:nth-child(4) .img-container {
  --dot-color: #d1d1ce;
}
.message h4 {
  font-size: 0.75rem;
  font-weight: 700;
  align-self: end;
}
.message p.message-text {
  grid-row: 2/3;
  grid-column: 2/-1;
  font-size: 0.75rem;
  font-weight: 600;
  padding-right: 1rem;
  align-self: start;
}
.message p.when {
  grid-row: 1/2;
  grid-column: 3/-1;
  font-size: 0.625rem;
  font-weight: 400;
  color: gray;
}
