*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bg: #28243f;
  --sec-bg-color: #222038;
  --third-bg-color: #1d1c35;

  --font-color: #b1b1c6;
  --sec-font-color: #220504;
  --half-font-color: #b1b1c621;

  --button-color: #29bfc9;
}
body {
  font-family: sans-serif;
  max-height: 100vh;
}
.screen {
  background: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="%23f2f2f2"></rect><path d="M0 320L25 342.2C50 364.3 100 408.7 150 420.7C200 432.7 250 412.3 300 394.7C350 377 400 362 450 366.2C500 370.3 550 393.7 600 392.8C650 392 700 367 750 374.3C800 381.7 850 421.3 875 441.2L900 461L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="%23f84f8a"></path><path d="M0 478L25 471.3C50 464.7 100 451.3 150 456.5C200 461.7 250 485.3 300 482.3C350 479.3 400 449.7 450 439C500 428.3 550 436.7 600 449.8C650 463 700 481 750 490.7C800 500.3 850 501.7 875 502.3L900 503L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="%238a4683"></path></svg>');
  background: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="%23f2f2f2"></rect><path d="M0 320L25 342.2C50 364.3 100 408.7 150 420.7C200 432.7 250 412.3 300 394.7C350 377 400 362 450 366.2C500 370.3 550 393.7 600 392.8C650 392 700 367 750 374.3C800 381.7 850 421.3 875 441.2L900 461L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="%23f84f8a"></path><path d="M0 478L25 471.3C50 464.7 100 451.3 150 456.5C200 461.7 250 485.3 300 482.3C350 479.3 400 449.7 450 439C500 428.3 550 436.7 600 449.8C650 463 700 481 750 490.7C800 500.3 850 501.7 875 502.3L900 503L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="%238a4683"></path></svg>');
  background-repeat: no-repeat;

  background-size: cover;
}
