*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bg: rgb(27, 34, 55);
  --sec-bg: rgb(36, 45, 65);
  --third-bg: rgb(47, 55, 80);
  --font-color: rgb(166, 174, 190);
}
body {
  color: var(--font-color);
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.screen {
  border-radius: 1rem;
  background-color: var(--sec-bg);
  width: 60vw;
  height: 60vh;
  /* width: 90vw;
  height: 90vh; */
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
}
.screen svg {
  width: 1rem;
  fill: var(--font-color);
}
.navbar {
  grid-row: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  border-radius: 1rem;
  margin: 1rem;
  margin-right: 1.5rem;
  min-height: 90%;
  max-height: 100%;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.navbar li {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;

  border-radius: 0.5rem;
}

.navbar li.active {
  background-color: var(--sec-bg);
}
.head {
  grid-column: 2/-1;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 2rem 2rem 1rem 0;
}
.head h1 {
  font-size: 1.2rem;
}
.head h1 svg {
  display: inline-block;
}
.head .viewSelector {
  display: flex;
  align-items: center;
  border: 1px solid var(--main-bg);
  border-radius: 5px;
}
.head .viewSelector .active {
  background-color: var(--main-bg);
}
.head .viewSelector svg {
  display: block;
  width: 1.5rem;
  fill: rgba(240, 248, 255, 0.312);
  padding: 0.2rem;
}
.view {
  grid-row: 2/-1;
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.card {
  background-color: var(--main-bg);
  margin: 0.4rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card div {
  font-size: 0.5rem;
  padding: 0.4rem;
}
.card h2 {
  font-size: 0.9rem;
}
.card img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.card.new {
  background-color: var(--third-bg);
}

.card.new svg {
  display: block;
  box-sizing: content-box;
  background-color: var(--sec-bg);
  padding: 0.5rem;
  border-radius: 50%;
}
