*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(125deg, #ea5b84, #ef5f52);
}
body {
  padding: 2rem;
  background: pink;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.comp {
  width: 18rem;
  border-radius: 1rem;
  padding: 1rem 1rem;
  box-shadow: 0 5px 5px 0px #e05f5b86;
  background-color: #fff;
}

.comp.nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  list-style: none;
}
.nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav ul li.active p,
.nav ul li:hover p {
  color: #fff;
}
.nav ul li.active:hover p {
  color: #000;
}
.nav ul li.active .icon,
.nav ul li:hover .icon {
  background: var(--gradient);
  fill: #fff;
}

.nav ul li.active:hover .icon {
  background: transparent;
  fill: #000;
}
.nav p {
  font-size: 0.625rem;
  font-weight: 600;
}
.nav .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0.75rem;
  border-radius: 50%;
}
.nav .icon svg {
  width: 100%;
  height: 100%;
}
.comp.freq-payments {
  background: var(--gradient);
  color: #fddce0;
  fill: #fddce0;
  display: grid;
  border: 2px solid #fff;
  box-shadow: 0 5px 10px -5px #fbaaa586;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2rem 1fr;
  row-gap: 0.5rem;
}
h3 {
  font-size: 0.75rem;
  align-self: center;
}
.freq-payments > button {
  justify-self: end;

  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
}

.freq-payments > button:hover {
  background-color: #ffffff80;
  box-shadow: 0 0 5px 5px #fdf3f8;
}
.freq-payments > button svg {
  width: 100%;
  height: 100%;
}
.freq-payments .pictures-container {
  grid-column: 1/-1;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.profile-pic img {
  border: 3px solid #f794a4;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.profile-pic img:hover {
  transform: scale(1.2);
  border-color: #e24c67;
}
.freq-payments img:hover {
  border-color: currentColor;
}
.comp.instructions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.instructions p {
  padding: 1rem 0;

  align-self: center;
  max-width: 42ch;
  font-size: 0.625rem;
  text-align: center;
}
.instructions > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructions > nav > button {
  width: 3.25rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #f8565b;
  border: 2px solid #f2d6dd;
  border-radius: 99rem;
  background-color: inherit;

  padding: 0.25rem 1rem;
}
.instructions > nav > button:hover {
  border-color: #f8565b;
  background-color: #f2d6dd;
  box-shadow: 0 0 5px 0 #7c5051;
}

.instructions .indicator-cont {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.indicator-cont .indicator {
  box-sizing: content-box;
  width: 0.325rem;
  height: 0.325rem;

  border-radius: 50%;
  background-color: #f2d6dd;
}
.indicator.active {
  border: 2px solid #f2d6dd;
  background-color: #f8565b;
}

.comp.profiles {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: 10rem; */
  gap: 2px;
  padding: 0;
  overflow: hidden;
}
.profiles .profile {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0 1rem;
  gap: 0.25rem;
}
.profile button.more {
  align-self: end;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  background-color: inherit;
}
button.more:hover {
  border-color: #f8565b;
  background-color: #f2d6dd;
  box-shadow: 0 0 5px 0 #7c5051;
}
.profile h4 {
  font-size: 0.625rem;
  font-weight: 600;
}
.profile h5 {
  font-size: 0.5rem;
  font-weight: 500;
  color: #bcbec2;
}
.profile button.add {
  font-size: 0.625rem;
  border: 2px solid transparent;
  border-radius: 999rem;
  padding: 0.5rem 1rem;
  background: var(--gradient);
  color: #fff;
}
.profile button.add:hover {
  border-color: #ff1717;
  filter: contrast(200%);
  font-weight: 600;
  box-shadow: 0 0 5px 0 #7c5051;
}
@media (min-width: 900px) {
  body {
    background: var(--gradient);
  }
  body::before {
    content: "";
    position: absolute;
    display: block;
    inset: 0% 45% 40% 0%;
    background-color: #fff;
    z-index: -1;
    border-radius: 0% 30% 40% 20%;
  }
  body {
    display: block;
  }
  .comp.nav {
    margin: auto;
    margin-top: 4rem;
  }
  .comp.freq-payments {
    margin-top: 2rem;
    margin-left: 4rem;
  }
  .comp.instructions {
    margin-top: 4rem;
    margin-left: 13rem;
  }
  .comp.comp.profiles {
    position: absolute;
    right: 5rem;
    top: 15rem;
  }
}
